<jnlp spec="6.0+" codebase="http://localhost:8080/" href="EIAGui.jnlp">
  <information>
    <title>EIAGestor</title>
    <vendor>EIA</vendor>
    <homepage href="null"/>
    <description>EIAGestor</description>
    <description kind="short">EIAGestor</description>
    <icon href="logo_nfe.jpg"/>
    <icon href="logo_nfe.jpg" kind="splash"/>
    <shortcut online="true">
      <desktop/>
      <menu submenu="EIA"/>
    </shortcut>
    <offline-allowed/>
  </information>
  <security>
    <all-permissions/>
  </security>
  <update check="timeout" policy="prompt-update"/>
  <resources os="Mac" arch="x86" download="eager">
      <nativelib href="DSGEProvider.jar"/>
  </resources>
  <resources>
    <j2se href="http://java.sun.com/products/autodl/j2se" java-vm-args="-Xmx256M -Xss4M" version="1.6.0+"/>
    <property name="ambiente" value="2"/>
    <property name="sun.security.ssl.allowUnsafeRenegotiation" value="true"/>
    $dependencies
   </resources>
  <application-desc main-class="$mainClass">
 </application-desc>
</jnlp>